* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  background-color: beige;
}
#container {
  background-color: rgb(245, 245, 245);
  width: 20%;
  height: 300px;
  margin: 200px auto;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 5px 10px;
}
